---
import i18n, { lang } from "../utils/i18n";
import Trans from "../components/Trans";

const title = i18n.t("Astro with i18next example");
const desc = i18n.t("An opinionated approach to translation with Astro and i18next.");
---

<html lang="{lang}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <meta name="description" content={desc} />
    <link rel="stylesheet" href="/global.css">
  </head>
  <body>
    <main>
      <nav>
        <a href="https://astro-example-i18next.netlify.app/">In English</a>
        <a href="https://astro-example-i18next-es.netlify.app/">En español</a>
        <a href="https://astro-example-i18next-fr.netlify.app/">En français</a>
        <a href="https://github.com/tylergaw/astro-example-i18next">GitHub</a>
      </nav>
      <h1>{title}</h1>
      <p>{desc}</p>

      <p>
        <Trans i18nKey="transExample">
          This is an example of using the <code>Trans</code> component
        </Trans>
      </p>
    </main>
  </body>
</html>